.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh;
    position: fixed;
    transition: transform 0.3s ease-in-out; /* Add transition */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a.active {
    background-color: #555; /* Highlight active link */
    padding: 5px 10px;
    border-radius: 5px;
}

/* CSS for the content area */
.content {
    margin-left: 0; /* Change margin-left to 0 */
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    transition: margin-left 0.3s ease-in-out; /* Add transition */
}

.post-form {
    margin-bottom: 20px;
}

.post-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

.post-form input[type="file"] {
    margin-bottom: 10px;
}

.post-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.post p {
    margin-bottom: 10px;
}

.post img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-interactions button {
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.post-interactions button:hover {
    background-color: #3071a9;
}

.comments {
    margin-top: 10px;
}

.comment-form {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.comment-input {
    width: calc(100% - 80px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.comment-submit {
    padding: 5px 10px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: #3071a9;
}

.comment {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.comment p {
    margin: 0;
}